
    <%- include('partials/header.html')%>
       <section class="noticia-destaque">
        <div class="center">
            <div class="img-destaque">
                <div class="overlay-destaque"></div>
                <div class="title-destaque-descricao">
                    <h2>Quer Fugir das Praias no Verão?</h2>
                    <p>Veja os melhores destinos para uma viagem a dois, com seu grupo ou até mesmo sozinho. Aproveite o calor longe das praias, curta lagos, cachoeiras e muito mais nesses destinos incríveis.</p>
                </div>
                <img src="/public/images/landscape.jpg" />
            </div>
        </div>
    </section>

    <section class="outras-noticias"> 
        <div class="title-outras-noticias">
        <h2>Últimas Notícias</h2>
        <div class="center">
            <div class="ultimas">
                <div class="box-ultimas-single">
                    <img src="/public/images/IMAGEM2.png"/>
                    <div class="conteudo-noticia-single">
                        <h3>Dica De Aventura</h3>
                        <h2>Como encarar o surf mesmo no frio</h2>
                        <p>A água gelada e o vento pode acabar com a sua felicidade de ir para a água. Cientistas afirmam que a chance de hipotermia é real e você precisa se cuidar. Veja como.</p>
                        <a href="/surf-no-frio">Saiba mais</a>
                    </div>
                    
                </div>
                <div class="box-ultimas-single">
                    <img src="/public/images/IMAGEM2.png"/>
                    <div class="conteudo-noticia-single">
                        <h3>Dica De Aventura</h3>
                        <h2>Como encarar o surf mesmo no frio</h2>
                        <p>A água gelada e o vento pode acabar com a sua felicidade de ir para a água. Cientistas afirmam que a chance de hipotermia é real e você precisa se cuidar. Veja como.</p>
                        <a href="/surf-no-frio">Saiba mais</a>
                    </div>
                </div>
            </div>
            <div class="mais-lidas">
                <h3>As Mais Lidas</h3>
                <div class="mais-lidas-noticias">
                    <div class="mais-lida-noticia-single">
                        <img src="/public/images/NATUREZA1.png"/>
                        <div class="texto-mais-lida-single">
                            <h4>Natureza</h4>
                            <p>A importância da floresta do ártico para a biodiversidade mundial. Qual o impacto o degelo na fauna e flora?</p>
                            <a href="/floresta-artico">Saiba mais</a>
                        </div>
                    </div>
                    <div class="mais-lida-noticia-single">
                        <img src="/public/images/NATUREZA1.png"/>
                        <div class="texto-mais-lida-single">
                            <h4>Natureza</h4>
                            <p>A importância da floresta do ártico para a biodiversidade mundial. Qual o impacto o degelo na fauna e flora?</p>
                            <a href="/floresta-artico">Saiba mais</a>
                        </div>
                    </div>
                    <div class="mais-lida-noticia-single">
                        <img src="/public/images/NATUREZA1.png"/>
                        <div class="texto-mais-lida-single">
                            <h4>Natureza</h4>
                            <p>A importância da floresta do ártico para a biodiversidade mundial. Qual o impacto o degelo na fauna e flora?</p>
                            <a href="/floresta-artico">Saiba mais</a>
                        </div>
                    </div>
                    <div class="mais-lida-noticia-single">
                        <img src="/public/images/NATUREZA1.png"/>
                        <div class="texto-mais-lida-single">
                            <h4>Natureza</h4>
                            <p>A importância da floresta do ártico para a biodiversidade mundial. Qual o impacto o degelo na fauna e flora?</p>
                            <a href="/floresta-artico">Saiba mais</a>
                        </div>
                    </div>
                </div>
                <br></br>
            </div>
        </div>
    </div>
    </section>

    <%- include('partials/footer.html')%>

    </body>
</html>